
{{ define "articleListManage.tmpl" }}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<link rel="stylesheet" href="/xxx/css/style.css">

<div class="container">
    <h1>Edit Blog</h1>
    <div class="row">
        <div class="col-md-12">
            {{range .Data}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <tr>
                        <h3><a href="/manage/detail/{{.ArticleID}}">{{.Title}}</a></h3>
                        <p><small class="text-muted">Published on {{.CreatedAt}}</small>&nbsp&nbsp
                            <small class="text-muted">{{.ReadNum}} reads  </small>&nbsp&nbsp
                            <small class="text-muted">{{.LikeNum}} Likes</small>
                        </p>
                        <a href="/update/{{.ArticleID}}" class="btn btn-primary">编辑</a>
                        <a href="/delete/{{.ArticleID}}" class="btn btn-danger">删除</a>
                    </tr>

                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}