
{{ define "detail.tmpl" }}

{{ template "head.tmpl" . }}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post">
                <h2 class="blog-post-title">{{.Data.Title}}</h2>
                <p class="blog-post-meta">发布日期: {{.Data.CreatedAt}} 更新日期:{{.Data.UpdatedAt}} </p>
                <p class="blog-post-meta">by <a href="#"> {{.Data.Author}}</a> </p>

                <pre id="pre" style="width: 120%">{{.Data.Content}}</pre>

                <div class="row">
                    <div class="col-md-6">
                        <p><span onclick="like('{{.Data.ArticleID}}')" class="glyphicon glyphicon-thumbs-up"></span>
                            点赞数量: <span id="likes">{{.Data.LikeNum}}</span> </p>
                    </div>
                    <div class="col-md-6">
                        <p><span class="glyphicon glyphicon-eye-open"></span> 阅读数量: {{.Data.ReadNum}}</p>
                    </div>
                </div>
            </div><!-- /.blog-post -->
        </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
</div><!-- /.container -->
<script>
    var a= document.getElementById("pre")
    a.innerHTML=a.innerText
    function like(ArticleID){
        axios({
            method:"get",
            url:"http://localhost:8081/like/"+ArticleID
        }).then(function (resp){
            let a = resp.data;
            console.log(a);
            document.getElementById('likes').innerText++
        })
    }
</script>
{{ template "footer.tmpl" . }}

{{ end }}