
{{ define "home.tmpl" }}

<!--<input value="{{.Data}}" style="display: none" id="none"/>-->
<script>
    // sessionStorage.setItem("Authorization",document.getElementById("none").value)

</script>
</body>

{{ end }}