<html>
<head>
  <title>登录页面</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/xxx/css/style.css">
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">登录</h4>
        </div>
        <div class="card-body">
          <form action="/login"  method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
              <label for="username">用户名</label>
              <input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
            </div>
            <div class="form-group">
              <label for="password">密码</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">登录</button>
            </div>
          </form>
          <a href="/register">注册</a>
          <a href="/home">主页</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>